*{
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
	text-align: center;
	background: #542063;
	color: #542063;
	font-family: 'Droid Serif', serif;
}
p{
	font-size: 1.6em;

}

.container{
	display: inline-block;
	word-wrap: break-word;
	margin-top: 10%;
	background: #fff;
	max-width: 40%;
	min-height: 30%;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: -3px -3px 5px #eee;
	padding: 8px;
}
.signature{
	font-size: 0.5em;
	padding:0;
	margin: 0;
	color: #fff;
}
.quoteContainer{
	padding: 0.5em;
	text-align: left;
}

.author{
	width: 100%;
	padding: 0 20px 20px 20px;
	text-align: right;
	font-size: 1.1em;
}
button, .twitter-share{
  padding: 10px 20px;
  cursor: pointer; 
  border: 1px solid #542063;
  border-radius: 5px;
  color: #fff;
  background: #542063;

}
button{
	float: right;
	
}
.twitter-share{
	float: left;
}

.buttons{
	width: 100%;
}

button::after,
.twitter-share::after,
button::before,
.twitter-share::before,
.buttons:after{
	content: "";
	display: table;
	clear: both;
}
/* Media Queries
========================================*/

@media screen and (max-width: 768px){
	 .container{
		top:20%;
		max-width: 70%;
		min-height: 40%;
	}
}
@media screen and (max-width: 465px){
	 .container{
		top:10%;
		max-width: 90%;
		min-height: 40%;
	}
}